body {
    background-color: #f8f9fa;
    position: relative;
    min-height: 100vh;
}

.actor-details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.actor-img {
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-edit {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; /* Ensure the buttons are above other elements */
}

.btn-back {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure the buttons are above other elements */
}
